    body {
        background-color: #1e1e3f;
        color: #ffffff;
        margin: 0;
        padding: 0;
    }

    .landing-page {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .button {
        background-color: #374785;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 20px;
    }
